# Cabal
dist
dist-newstyle
.cabal-sandbox/
cabal.sandbox.config
cabal.project.local
.ghc.environment*
*.cabal

# Profiling
*.prof

# Stack
.stack-work

# Emacs
TAGS
.dir-locals.el

# Vim
tags
*.swp

# Intellij
*.iml
.idea/

# Runtime
node-db/
logs/*
secret.key
secret.key.lock
secret-mainnet.key
secret-mainnet.key.lock
ariadne_history
ariadne_history.db
db-mainnet
wallet-db/
config/cardano-configuration.yaml
config/mainnet-genesis.json

# Qt resources
ui/qt-lib/resources/*.cpp
