# Unless a later match takes precedence, nobody will be requested
# for review when someone opens a pull request, because nobody
# is the Head Vulture of this project.

*                               @nobody

# Order is important; the last matching pattern takes the most precedence.

# Knit
knit/                           @int-index @hithroc

# Backends
TaskManager/                    @hithroc
Update/                         @hithroc
Wallet/                         @artemohanjanyan @gromakovsky
Cardano/                        @gromakovsky

# UIs
ui/qt-app                       @maksbotan
ui/qt-lib                       @maksbotan

# CI, Nix
*.nix                           @yegortimoshenko
appveyor.yml                    @yegortimoshenko
